pandas

In [1]:
import pandas as pd

In [3]:
pd.DataFrame({'One': [50, 21], 'Two': [131, 2], 'Three': [100,20]})

   One  Two  Three
0   50  131    100
1   21    2     20

In [4]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [5]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

**Series**

In [6]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [9]:
products = pd.read_csv('sample_data/products.csv')
products

  Product A,Product B,Product C,
0                       30,21,9,
1                       35,34,1,
2                       41,11,11

In [10]:
wine_reviews = pd.read_csv("sample_data/winemag-data-130k-v2.csv")
wine_reviews.head()

   Unnamed: 0   country  ...         variety               winery
0           0     Italy  ...     White Blend              Nicosia
1           1  Portugal  ...  Portuguese Red  Quinta dos Avidagos
2           2        US  ...      Pinot Gris            Rainstorm
3           3        US  ...        Riesling           St. Julian
4           4        US  ...      Pinot Noir         Sweet Cheeks

[5 rows x 14 columns]

In [11]:
wine_reviews.shape

(129971, 14)

In [12]:
wine_reviews = pd.read_csv("sample_data/winemag-data-130k-v2.csv", index_col=0)
wine_reviews.head()

    country  ...               winery
0     Italy  ...              Nicosia
1  Portugal  ...  Quinta dos Avidagos
2        US  ...            Rainstorm
3        US  ...           St. Julian
4        US  ...         Sweet Cheeks

[5 rows x 13 columns]

In [17]:
reviews = pd.read_csv("sample_data/winemag-data-130k-v2.csv", index_col=0)
reviews

         country  ...                winery
0          Italy  ...               Nicosia
1       Portugal  ...   Quinta dos Avidagos
...          ...  ...                   ...
129969    France  ...  Domaine Marcel Deiss
129970    France  ...      Domaine Schoffit

[129971 rows x 13 columns]

In [18]:
reviews.country

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [19]:
reviews['country']

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [20]:
reviews['country'][0]

'Italy'

In [21]:
reviews.iloc[0]

country                                                    Italy
description    Aromas include tropical fruit, broom, brimston...
                                     ...
variety                                              White Blend
winery                                                   Nicosia
Name: 0, Length: 13, dtype: object

In [22]:
reviews.iloc[:, 0]

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [23]:
reviews.iloc[:3, 0]

0       Italy
1    Portugal
2          US
Name: country, dtype: object

In [24]:
reviews.iloc[1:3, 0]

1    Portugal
2          US
Name: country, dtype: object

In [25]:
reviews.iloc[[0, 1, 2], 0]

0       Italy
1    Portugal
2          US
Name: country, dtype: object

In [26]:
reviews.iloc[-5:]

        country  ...                                    winery
129966  Germany  ...  Dr. H. Thanisch (Erben Müller-Burggraef)
129967       US  ...                                  Citation
129968   France  ...                           Domaine Gresser
129969   France  ...                      Domaine Marcel Deiss
129970   France  ...                          Domaine Schoffit

[5 rows x 13 columns]

In [27]:
reviews.loc[0, 'country']

'Italy'

In [28]:
reviews.loc[:, ['taster_name', 'taster_twitter_handle', 'points']]

          taster_name taster_twitter_handle  points
0       Kerin O’Keefe          @kerinokeefe      87
1          Roger Voss            @vossroger      87
...               ...                   ...     ...
129969     Roger Voss            @vossroger      90
129970     Roger Voss            @vossroger      90

[129971 rows x 3 columns]

In [29]:
reviews.set_index("title")

                                                     country  ...                winery
title                                                         ...
Nicosia 2013 Vulkà Bianco  (Etna)                      Italy  ...               Nicosia
Quinta dos Avidagos 2011 Avidagos Red (Douro)       Portugal  ...   Quinta dos Avidagos
...                                                      ...  ...                   ...
Domaine Marcel Deiss 2012 Pinot Gris (Alsace)         France  ...  Domaine Marcel Deiss
Domaine Schoffit 2012 Lieu-dit Harth Cuvée Caro...    France  ...      Domaine Schoffit

[129971 rows x 12 columns]

In [30]:
reviews.country == 'Italy'

0          True
1         False
          ...
129969    False
129970    False
Name: country, Length: 129971, dtype: bool

In [31]:
reviews.loc[reviews.country == 'Italy']

       country  ...           winery
0        Italy  ...          Nicosia
6        Italy  ...  Terre di Giurfo
...        ...  ...              ...
129961   Italy  ...              COS
129962   Italy  ...         Cusumano

[19540 rows x 13 columns]

In [32]:
reviews.loc[(reviews.country == 'Italy') & (reviews.points >= 90)]

       country  ...    winery
120      Italy  ...   Ceretto
130      Italy  ...   Ceretto
...        ...  ...       ...
129961   Italy  ...       COS
129962   Italy  ...  Cusumano

[6648 rows x 13 columns]

In [33]:
reviews.loc[(reviews.country == 'Italy') | (reviews.points >= 90)]

       country  ...                winery
0        Italy  ...               Nicosia
6        Italy  ...       Terre di Giurfo
...        ...  ...                   ...
129969  France  ...  Domaine Marcel Deiss
129970  France  ...      Domaine Schoffit

[61937 rows x 13 columns]

In [34]:
reviews.loc[reviews.country.isin(['Italy', 'France'])]

       country  ...                winery
0        Italy  ...               Nicosia
6        Italy  ...       Terre di Giurfo
...        ...  ...                   ...
129969  France  ...  Domaine Marcel Deiss
129970  France  ...      Domaine Schoffit

[41633 rows x 13 columns]

In [35]:
reviews.loc[reviews.price.notnull()]

         country  ...                winery
1       Portugal  ...   Quinta dos Avidagos
2             US  ...             Rainstorm
...          ...  ...                   ...
129969    France  ...  Domaine Marcel Deiss
129970    France  ...      Domaine Schoffit

[120975 rows x 13 columns]

In [36]:
reviews['critic'] = 'everyone'
reviews['critic']

0         everyone
1         everyone
            ...
129969    everyone
129970    everyone
Name: critic, Length: 129971, dtype: object

In [37]:
reviews['index_backwards'] = range(len(reviews), 0, -1)
reviews['index_backwards']

0         129971
1         129970
           ...
129969         2
129970         1
Name: index_backwards, Length: 129971, dtype: int64

In [38]:
reviews

         country  ... index_backwards
0          Italy  ...          129971
1       Portugal  ...          129970
...          ...  ...             ...
129969    France  ...               2
129970    France  ...               1

[129971 rows x 15 columns]